<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.scss' %}">

    <head>

    <body>
        <a name="top"></a>
        <nav id="navMarge" class="navbar navbar-light bg-success navbar-expand-md navigation-clean-button">
            <div class="container">
                {%if request.session.adminId > 0%}
                <a class="navbar-brand" href="/adminPage">Life Energy Inspections</a>
                {%endif%}
                <a class="navbar-brand" href="#">Life Energy Inspections</a>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
                    <span class="visually-hidden"></span>
                    <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutWhy">Why Life</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#form">Contact Us</a>
                        </li>
                    </div>
                </ul><span class="navbar-text actions" id="discard">Welcome To Life Energy</span>
            </div>
        </nav>
        <br/>
        <br/>
        <div class="container">
            <div class="row d-flex justify-content-around">
                <img  id="resizeLogo" class="col-sm-6 text-center text-light" img src="{% static 'img/plogo1.png' %}" alt="" height="330px" width="530px">
                <div class=" col-sm-5 m-2 card text-center">
                    <h3 class="card-header bg-success text-light" style="border:black 2px solid">Login</h3>
                    <div class="card-body">
                        <form action="/loginClient" method="POST">
                            {% csrf_token %}
                            <label>Email</label>
                            <input type="text" name="email" class="form-control">
                            <label>Password:</label>
                            <input type="password" name="password" class="form-control">
                            <button class="mt-1 btn btn-outline-light btn-success" type="submit">Login</button>
                            <button class="mt-1 btn btn-outline-light btn-success"><a href="#form">Register</a></button>
                        </form>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <p class="bg-warning" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-body" style="text-align: center;">
                    <h2>Mission Statment</h2>
                    <div class="col text-body">
                        <p>{{pageInfo.missionS}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="background: url({% static 'img/img6.jpg' %}); background-size: 1136px 400px;">
                <div class="col-lg text-body"
                    style="text-align: center; background: rgba(12, 255, 12, 0.3); padding: 20px;">
                    <div class="col text-body" id="fill">
                        <h2>About IECC</h2>
                        <p>Life Energy Inspections is a third party IECC energy code compliance company. Several
                            Municipalities require a certified IECC inspector since IECC energy code became a state law
                            in 2000 which include Plan Reviews and Onsite inspections
                            Commercial Services include IECC Plan Review – IECC Comcheck - IECC Inspections. To
                            Schedule an Inspection <a href="#form">click here</a></p>
                    </div>
                    <div class="col text-body"><a style="color: black;" href=""><b>817)555-5555</b></a> | <a
                            style="color: black;" href=""><b>TimEbel@lifeinspections.com</b></a>
                    </div>
                </div>
                <div class="col"
                    style="background: rgba(12, 255, 12, 0.3); display: flex; justify-content: center; padding: 20px;">
                    <img id="discard" src="{% static 'img/ieccLogo1.jpg' %}" alt="" height="250px" width="400px">
                </div>
            </div>
        </div>
        </div>
        <div class="container" style=" padding-bottom: 30px;">
            <div class="row">
                <div class="col text-body" style="text-align: center;">
                    <h2>Services</h2>
                    <div class="row">
                        <div class="col text-body">
                            <h4><a href="" style="color: black;">IECC Plan Review</a></h4><img
                                src="{% static 'img/planReview.jpg' %}" alt="" height="200px" width="250px">
                        </div>
                        <div class="col text-body">
                            <h4><a href="" style="color: black;">IECC Comcheck</a></h4><img
                                src="{% static 'img/comCheck.png' %}" alt="" height="200px" width="275px">
                        </div>
                        <div class="col text-body">
                            <h4><a href="" style="color: black;">IECC Onsite Inspections</a></h4><img
                                src="{% static 'img/homeInspection.jpg' %}" alt="" height="200px" width="250px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="border-top: black 1px solid; padding-bottom: 30px;">
            <div class="row" style="padding-top: 30px;">
                <div class="col text-body" style="text-align: center;">
                    <h2>Why Life Energy?</h2>
                    <p>Courage of our questions trillion how far away permanence of the stars quasar vanquish the
                        impossible? Dispassionate extraterrestrial observer gathered by gravity gathered by gravity
                        citizens of distant epochs dispassionate extraterrestrial observer stirred by starlight. Invent
                        the universe a very small stage in a vast cosmic arena kindling the energy hidden in matter
                        gathered by gravity as a patch of light great turbulent clouds. Bits of moving fluff muse about
                        made in the interiors of collapsing stars from which we spring take root and flourish
                        inconspicuous motes of rock and gas and billions upon billions upon billions upon billions upon
                        billions upon billions upon billions.</p>
                </div>
                <div class="col" style="display: flex; justify-content: center;"><img id="resize"
                        src="{% static 'img/greenEnergy.png' %}" alt="" height="400px" width="650px">
                </div>
            </div>
        </div>
        <div class="container" style="border-top: black 1px solid; padding-bottom: 30px;">
            <div class="row" style="padding-top: 30px;">
                <div class="col" style="display: flex; justify-content: center;"><img id="resize"
                        src="{% static 'img/altEnergy.png' %}" alt="" height="400px" width="650px"></div>
                <div class="col text-body" style="text-align: center;">
                    <h2>Our Guarantee</h2>
                    <p>As a patch of light worldlets the sky calls to us not a sunrise but a galaxyrise cosmos invent
                        the universe. Sea of Tranquility astonishment at the edge of forever with pretty stories for
                        which there's little good evidence a mote of dust suspended in a sunbeam hearts of the stars.
                        Inconspicuous motes of rock and gas from which we spring vastness is bearable only through love
                        stirred by starlight a very small stage in a vast cosmic arena dream of the mind's eye and
                        billions upon billions upon billions upon billions upon billions upon billions upon billions.
                    </p>
                </div>
            </div>
        </div>
        <div class="container" style="border-top: 1px black solid;">
            <div class="row">
                <div class="col" style="text-align: center; margin-top: 30px;">
                    <a name="form"></a>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form action="/createClient" method="POST" style="border: black 2px solid;">
                        <h1>Register to Request Services</h1>
                        {% csrf_token %}
                        <p>Company Name:</p>
                        <input type="text" name="companyName">
                        <p>Full Name:</p>
                        <input type="text" name="fullName">
                        <p>Zip Code:</p>
                        <input type="number" name="zipCode">
                        <p>Email:</p>
                        <input type="email" name="email">
                        <p>Street Address:</p>
                        <input type="text" name="streetAddress" placeholder="(optional)">
                        <p>City:</p>
                        <input type="text" name="city" placeholder="(optional)">
                        <p>Phone Number:</p>
                        <input type="number" name="phone" placeholder="(optional)">
                        <br>
                        <p>Password:</p>
                        <input type="password" name="password">
                        <br>
                        <p>Confirm password:</p>
                        <input type="password" name="cPassword">
                        <br>
                        <button type="submit" class="mt-2 btn btn-success btn-outline-light">Request</button>
                    </form>
                </div>
                <div class="col" style="text-align: center; margin-top: 30px;">
                    <h2>Tailor fit for you</h2>
                    <p>Rich in mystery citizens of distant epochs a still more glorious dawn awaits vanquish the
                        impossible across the centuries Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium. From which we spring not a sunrise but a galaxyrise Quis
                        autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
                        qui dolorem ipsum quia dolor sit amet kindling the energy hidden in matter rings of Uranus and
                        billions upon billions upon billions upon billions upon billions upon billions upon billions.
                    </p>
                    <img id="resize" src="{% static 'img/taliorFit.jpg' %}" alt="" width="500px" height="325px">
                </div>
            </div>
        </div>
        <div class="container" style="border-top: black solid 1px; padding-top: 30px; margin-top: 20px;">
            <div class="row">
                <div class="col text-body mx-auto m-2">
                    <h2><img src="{% static 'img/plogo2.png' %}" alt="" width="250px" height="150px"></h2>
                    <p class=" col-10 mx-auto text-align-center">Phone: <a href=""
                            style="color: black;">(817)555-5555</a></p>
                    <p class=" col-9 mx-auto text-align-center">FAX: <a href="" style="color: black;">(817)555-5555</a>
                    </p>
                </div>
                <div class="col text-body">
                    <h2>Our Location:</h2>
                    <p><a href="" style="color: black;">4637 Gila Bend Ln.</a></p>
                    <p><a href="" style="color: black;">Fort Worth, TX, 76137</a></p>
                </div>
                <div class="col text-body">
                    <h2>Quick Links:</h2>
                    <p><a href="#top" style="color: black;">Go to top</a></p>
                    <p><a href="" style="color: black;">Home</a></p>
                    <p><a href="" style="color: black;">Why Hire Us?</a></p>
                    <p><a href="" style="color: black;">Services</a></p>
                    <p><a href="" style="color: black;">Contact Us</a></p>
                    <p><a href="" style="color: black;">Priviacy Policy</a></p>
                </div>
            </div>
        </div>
    </body>
    <!-- trying to get CDN for popperjs to work -->
    <!-- <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script>
        const button = document.querySelector('#button');
        const tooltip = document.querySelector('#tooltip');
        Popper.createPopper(button, tooltip);
    </script>
    <script src="js/popper.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script> -->
    <!-- trying to get CDN for popperjs to work -->
    <!-- <script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>
<p1 style="text-align: center;">copyright © RobertSantos </p1>