<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.scss' %}">

    <head>

    <body>
        <a name="top"></a>
        <div class="container">
            <div class="row d-flex justify-content-around">
                <div class="h-100 col bg-success border border-dark text-center">
                    <a class="btn btn-success mb-3 mt-1 pt-2" href="/clientPage" role="button">Home</a>
                </div>
                <div class="h-100 col bg-success border border-dark text-center"><a
                        class="btn btn-success mb-3 mt-1 pt-2" href="/services" role="button">Services</a>
                </div>
                <div class="h-100 col bg-success border border-dark text-center" id="discard">
                    <a class="btn btn-success mb-3 mt-1 pt-2" href="#form" role="button">Contact Us</a>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="container">
            <div class="row d-flex justify-content-around">
                <img class="col-sm-6 text-center text-light" img src="{% static 'img/plogo1.png' %}" alt="">
                
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-body" style="text-align: center;">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div class="col text-body">
                        <ul>
                            <li>
                                <h3 class="font-weight-bold">Building codes are state laws.</h3>
                                <p>The U.S. does not have a national building code or energy code; instead, states or local governments can choose to adopt one of the national model energy codes, a modified version of the model code, or their own state-specific code.</p>
                            </li>
                            <li>
                                <h3 class="font-weight-bold">Energy codes are just one of many building codes,</h3>
                                <p>Such as fire, electrical, structural, or plumbing.</p>
                            </li>
                            <li>
                                <h3 class="font-weight-bold">Energy codes are different than appliance and equipment standards.</h3>
                                <p>Energy codes cover the building itself—for example, the walls/floors/ceiling insulation, windows, air leakage, and duct leakage. Appliance and equipment standards cover the things that go into the buildings. However, there is some overlap, particularly in lighting.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-body" style="text-align: center;">
                    <h2>Top 5 reasons for building energy codes</h2>
                    <div class="col text-body">
                        <p>In today’s world, energy, economic, and environmental challenges make creating building energy codes an important part of creating a sustainable future. In fact, according to the U.S. Department of Energy, nearly 40% of the nation’s energy is consumed by buildings. It is important to add new or update older building codes for the future. Check out the top five reasons for energy codes.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-body" style="text-align: center;">
                    <h2>1. Save Money</h2>
                    <div class="col text-body">
                        <p>Energy codes save money by reducing the needless consumption of energy used to heat, cool, light, ventilate, and provide hot water for buildings. Consumers can use the money saved to put back into the economy.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-body" style="text-align: center;">
                    <h2>2. Reduce Emissions</h2>
                    <div class="col text-body">
                        <p>Buildings use a large amount of energy. As a result, they create emissions. Energy codes help to protect the natural environment from unnecessary emissions. Some examples include pollution and gas house emissions. In fact, according to the U.S. Department of Energy, by 2030, 800 million metric tons of Co2 will be saved as a result of codes.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-body" style="text-align: center;">
                    <h2>3. Create Jobs</h2>
                    <div class="col text-body">
                        <p>In the future, more job opportunities will be created due to advanced technology in buildings and the need for energy code experts. Jobs such as technical experts, duct and building leakage professionals, quality control assessors, building and system commissioning agents, and energy auditors and compliance offers will be needed as new codes become created.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-body" style="text-align: center;">
                    <h2>4. Protect Consumers</h2>
                    <div class="col text-body">
                        <p>Not only do energy codes reduce heating and cooling costs and make living conditions more comfortable, but they also help to put money back into the pockets of the consumers. They can reduce pollution and gas house emissions as well. As a result, homes, and businesses have improved indoor air quality. This allows consumers to be comfortable and healthy.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-body" style="text-align: center;">
                    <h2>5. Design and Construction</h2>
                    <div class="col text-body">
                        <p>Energy codes provide a common basis to educate experts in building design and construction in energy efficiency. Requirements are made to affect the overall energy efficiency of buildings. They can help to keep a healthy, comfortable, and functioning indoor environment.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-body" style="text-align: center;">
                    <h2>Codes affect areas such as:</h2>
                    <div class="col text-body">
                        <ul>
                            <li>Floors, walls, and ceilings</li>
                            <li>Doors and windows</li>
                            <li>Heating, ventilating, and cooling systems and equipment</li>
                            <li>Water-heating systems and equipment</li>
                            <li>Lighting systems and equipment</li>
                            <li>Hot water consuming fixtures and appliances</li>
                        </ul>
                        <h2>Choose Life Energy Inspections</h2>
                        <a href="https://eepartnership.org/wp-content/uploads/2016/03/96-1782-8_SECO_PACE_ThirdParty-Rev.pdf">Documentation</a>
                    </div>
                </div>
            </div>
            <img id="resize" src="{% static 'img/fiveReasons.jpg' %}" alt="" >
        </div>

        <div class="container" style="border-top: black solid 1px; padding-top: 30px; margin-top: 20px;">
            <div class="row">
                <div class="col text-body mx-auto m-2">
                    <h2><img src="{% static 'img/plogo2.png' %}" alt="" width="250px" height="150px"></h2>
                    <p class=" col-10 mx-auto text-align-center">Phone: <a href=""
                            style="color: black;">(817)555-5555</a></p>
                    <p class=" col-9 mx-auto text-align-center">FAX: <a href="" style="color: black;">(817)555-5555</a>
                    </p>
                </div>
                <div class="col text-body">
                    <h2>Our Location:</h2>
                    <p><a href="" style="color: black;">4637 Gila Bend Ln.</a></p>
                    <p><a href="" style="color: black;">Fort Worth, TX, 76137</a></p>
                </div>
                <div class="col text-body">
                    <h2>Quick Links:</h2>
                    <p><a href="#top" style="color: black;">Go to top</a></p>
                    <p><a href="" style="color: black;">Home</a></p>
                    <p><a href="" style="color: black;">Why Hire Us?</a></p>
                    <p><a href="" style="color: black;">Services</a></p>
                    <p><a href="" style="color: black;">Contact Us</a></p>
                    <p><a href="" style="color: black;">Priviacy Policy</a></p>
                </div>
            </div>
        </div>
    </body>
    <!-- trying to get CDN for popperjs to work -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script>
        const button = document.querySelector('#button');
        const tooltip = document.querySelector('#tooltip');
        Popper.createPopper(button, tooltip);
    </script>
    <script src="js/popper.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <!-- trying to get CDN for popperjs to work -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</html>
<p1 style="text-align: center;">copyright © RobertSantos </p1>